<div id="artist-dashboard" class="hide dashboard">
  <div class="card graph" id="scatterPlot">
  </div>
  <div class="card description" id='artist-description'>
  </div>
  <div class="card score score-1 dashboard-component" id="sales-count">
  </div>
  <div class="card score score-2 dashboard-component" id="liquidity-rate">
  </div>
  <div class="card score score-3 dashboard-component" id="performance-rate">
  </div>
  <div class="card score score-4 dashboard-component" id="total-sales">
  </div>
  <div class="card score extra-stuff dashboard-component" id="artist-score">
  </div>
</div>
