<div id="lot-dashboard" class="hide dashboard">
  <div class="card graph" id="lotPlot">
  </div>
  <div class="card description" id="lot-details">
  </div>
  <div class="card score score-1 dashboard-component" id="lot-sales-count">
  </div>
  <div class="card score score-2 dashboard-component" id="lot-liquidity-rate">
  </div>
  <div class="card score score-3 dashboard-component" id="lot-performance-rate">
  </div>
  <div class="card score score-4 dashboard-component" id="lot-total-sales">
  </div>
  <div class="card score extra-stuff dashboard-component" id='object-score'>
  </div>
</div>
