@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');
@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.artifacts-background {
  width: 100%;
  height: 100%;
  z-index: -20;
  color: white;
  font-size: 30px;
  font-family: 'Cedarville Cursive', cursive;
  padding: 15px;
}

body {
  background: #15103A;
  font-family: 'Inconsolata', monospace;
}

.hide {
  display: none;
}

.hidden {
  display: none;
}
