.navbar {
  width: 100%;
  height: 40px;
  background-color: #272852;
  color: white;
  opacity: 0;
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  &:hover {
    opacity: 1;
    transition-property: opacity;
    transition-duration: 1s;
  }
  #back-homepage {
    cursor: pointer;
  }
}

.breadbrumb-element {
  cursor: pointer
}
